{% extends "base.html" %}

{% block content %}
<h1>Calculate Exit Energy</h1>
<form action="" method="post" name="cmsp">
    {{ form.csrf_token }}
    {% if ee is not none %}
        <h2>Your value is {{ ee }} MeV ({{ eepn }} MeV/nucleon)</h2><br />
        <h2>{{ deposited }} MeV was deposited in the material</h2>
    {% else %}
        <h2>Enter your values:</h2><br/>
    {% endif %}
    {{ form.hidden_tag() }}
    Enter Z of incident particle:
    {{ form.incident_z() }}<br />
    Enter A of incident particle:
    {{ form.incident_a() }}<br />
    Enter kinetic energy (T) of incident particle:
    {{ form.incident_t() }}<br />
    Energy expressed per nucleon?
    {{ form.per_nucleon_bool() }}<br />
    Select the medium:
    {{ form.material }}<br />
    How thick is the material (in cm)?
    {{ form.thickness }}
    <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}
