{% extends "base.html" %}

{% block content %}
<h1>Calculate Nuclear Interaction Fraction</h1>
<form action="" method="post" name="cmsp">
    {{ form.csrf_token }}
    {% if inter_frac is not none %}
        <h2>Your value is {{ inter_frac }}</h2><br />
    {% else %}
        <h2>Enter your values:</h2><br/>
    {% endif %}
    {{ form.hidden_tag() }}
    Enter A of incident particle:
    {{ form.incident_a() }}<br />
    Select the medium:
    {{ form.material }}<br />
    Enter the thickness (cm):
    {{ form.thickness }}
    <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}
